In [25]:
import sys
sys.version

'3.9.5 (default, May 11 2021, 08:20:37) \n[GCC 10.3.0]'

In [26]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
#sns.set()

In [29]:
# point to correct diretory for the following file
laptimes = pd.read_csv('lapTimes.csv')

laptimes['seconds'] = laptimes['milliseconds'] / 1000

   raceId  driverId  lap  position      time  milliseconds  seconds
0     841        20    1         1  1:38.109         98109   98.109
1     841        20    2         1  1:33.006         93006   93.006
2     841        20    3         1  1:32.713         92713   92.713
3     841        20    4         1  1:32.803         92803   92.803
4     841        20    5         1  1:32.342         92342   92.342

In [ ]:
{
'name': ['andy', 'fred', 'kkk', 'llll'],
'age': [21, 45, Nan]
}

name    age
andy    21
fred    45